.ContainerInput {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  padding: 2% 0% 2% 0%;
  align-items: center;
}


.Children {
    background-color: whitesmoke;
    padding: 2% 15% 6% 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}



.Children input {
    padding: 8% 159% 8% 4%;
    border-radius: 15px;
    border-color:white ;
    background-color: white;
    margin: 5%;
}
