body {
  background-color: rgb(221, 228, 235);
}

.MyImage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% 5% 5% 5%;
}

.Titulo {
  color: tomato;
  font-family: "Courier New", Courier, monospace;
}

.Valor {
  display: flex;
  font-family: "Courier New", Courier, monospace;
}
