body {
  background-color: rgba(0, 255, 34, 0.938);
  color: rgb(99, 99, 99);
}


.PrincipalDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
 
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 5% 5% 5%;
 
}

.Img {
  margin: 15px;
}

.TituloProduto {
  display: flex;
  color: tomato;
}

.SubTitulo {
  display: flex;
}

.Descricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  body {
    background-color: rgb(255, 0, 0);
    color: aliceblue;
  }

  .TituloProduto {
    display: flex;
    color: rgb(0, 0, 0);
  }
}
